footer.footer
	.footer-list
		.footer-list__title О компании
		a.footer-list__item(href="#") Контакты
		a.footer-list__item(href="#") Вопросы и ответы
		a.footer-list__item(href="#") Пользовательское соглашение
		a.footer-list__item(href="#") Условия
	.footer-list
		.footer-list__title Блюда
		a.footer-list__item(href="#") Суши
		a.footer-list__item(href="#") Бургеры
		a.footer-list__item(href="#") Пицца
		a.footer-list__item(href="#") Здоровая еда
	.footer-list
		.footer-list__title Как это работает?
		a.footer-list__item(href="#") Условия доставки
		a.footer-list__item(href="#") Время работы доставки
		a.footer-list__item(href="#") Упаковка еды
		a.footer-list__item(href="#") Оплата
	.footer-list
		.footer-list__title Курьерам
		a.footer-list__item(href="#") Условия работы
		a.footer-list__item(href="#") График
		a.footer-list__item(href="#") Заработок
		a.footer-list__item(href="#") FAQ
	.footer-list
		.footer-list__title Свяжитесь с нами
		.footer-list__item Телефон: 
			a(href="#") +91 0612-713551
		.footer-list__item E-mail: 
			a(href="#") delivery@fpcd.ru
		a.footer-list__item(href="#") Запрос обратного звонка
		a.footer-list__item(href="#") Качество