header.header
	a.header__logo(href="/")
		img(src="assets/images/logo.png ", alt="")
	.header-menu
		a.header-menu__item.active(href="#") Ресторанам
		a.header-menu__item(href="#") Компаниям
		a.header-menu__item(href="#") Курьерам
		a.header-menu__item(href="#") Как это работает?
	.header-btns
		a.header-btns__enter(href="#") Войти
		a.header-btns__register(href="#") Регистрация