extends ../template

block variables
	- var title = 'Карта'

block content
	.sait-map
		nav.sait-map-menu
			a.sait-map-menu__item(href="index.html") Авторизация
			a.sait-map-menu__item(href="trains.html") Выбор поезда
			a.sait-map-menu__item(href="pickup.html") Выбор пункта получения