extends ../template

block variables
	- var title = 'Выбор поезда'

block content
	.container
		.trains
			h1.trains__title Выберите поезд
			.trains-items
				- for (var i=0; i<5; i++)
					a.trains-items-card(href="#")
						.trains-items-card-row
							.trains-items-card-direction
								img(src="assets/images/trains-direction-arr.svg", alt="")
								.trains-items-card-direction-items
									span Санкт-Петербург
									span Казань
							.trains-items-card-train
								.trains-items-card-train__num 479е
									img(src="assets/images/trains-icon.svg", alt="")
								.trains-items-card-train__type Вид:
									span Купе
						.trains-items-card-row
							.trains-items-card-row-col
								.trains-items-card-row-col__title Время отправления
								.trains-items-card-row-col__text
									span 13:56
									span 24.09.19
							.trains-items-card-row-col
								.trains-items-card-row-col__title Время прибытия
								.trains-items-card-row-col__text
									span 14:16
									span 25.09.19
							.trains-items-card-row-col
								.trains-items-card-row-col__title Время в пути
								.trains-items-card-row-col__text
									span 24 ч. 16 м.
						.trains-items-card-row
							.trains-items-card__submit Выбрать поезд
					