block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		link(rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="assets/scripts/fancybox/jquery.fancybox.min.css")
		link(rel="stylesheet", href="assets/styles/app.min.css")
		
	body
		.wrapper
			include common/header.pug
			.content
				block content
			include common/footer.pug
			include common/footer-another.pug 
		include common/popup.pug 

		script(src="assets/scripts/jquery-min.js")
		script(src="assets/scripts/jquery.inputmask.bundle.js")
		script(src="assets/scripts/fancybox/jquery.fancybox.min.js")
		script(src="assets/scripts/validation.js")
		script(src="assets/scripts/main.js")
